<html>
    <head>
      <title>{{ title }}</title>
    </head>
    <body>
        <div>QUIZ: 
		<a href="{{url_for('index')}}">Home</a>
		<a href="{{url_for('add_category')}}">Add Category</a>
		<a href="{{url_for('delete_category')}}">Delete Category</a>
		<a href="{{url_for('all_categories')}}">All categories</a>
		</div>
        <hr>
		{% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>